/*Header*/
.container {
    width: 58%;
}

.container,
.primary  {
    margin: 0 auto;
}

.header {
    background-color: #eeeff1;
    padding: 79px 0 141px;
}

.menu-wrap {
    margin-bottom: 16.5%;    
}

.menu {
    font-size: 0;
}

.menu__item {
    display: inline-block;
    font-size: 1rem;
    margin-right: 3.9%;
}

.menu__link,
.menu__link-primary {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.menu__link-primary {
    color: #34547A;
}

.menu__link:hover,
.menu__link-primary:hover {
    text-decoration: underline;
}

.main__title {
    font-size: 2.5rem;
    margin-bottom: 6%;
    font-weight: 500;
}

.main__button {
    width: 23%;
    display: inline-block;
    padding: 2% 4%;
    background: #34547A;
}

.main__button-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.main__text {
    width: 40%;
    margin-bottom: 6.1%;
}

.main__button-btn:hover {
    text-decoration: underline;
}

.main__text,
.section__text,
.work__text {
    font-style: normal;
    line-height: 1rem;
    color: #727272;
}
.section__text {
    margin-bottom: 8%;
}

.work__text {
    margin-bottom: 5.1%;
}
.section__title,
.work__title  {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 11% 0 5%;
}

.primary {
    width: 49%;
    text-align: center;
}

.projects,
.footer {
    background: #34547A;
}

.projects-wrap,
.projects__item,
.projects__description {
    display: flex;
}

.projects-wrap {
    padding: 9% 0;
    justify-content: space-between;
}

.projects__description {
    color: #FFFFFF;
    flex-direction: column ;
    padding-bottom: 10px;
    padding-left: 20px;
    justify-content: space-between;
}

.projects__title {
    font-weight: bold;
}

.work,
.section {
    background-color: #FFFFFF;
}

.video-wrap {
    position: relative;
    margin-bottom: 9%;
}
.video {
    width: 100%;/*ширина блока с видео*/
    height: 600px;/*указываю высоту блока для видео*/
}

.video__image-wrap {
    position: absolute;
    top: 40%;
    left: 45%;
}

.footer-wrap {
    margin-left: 20%;
    padding: 1%;
    color: #FFFFFF;
}

.footer__title {
    margin-bottom: 1%;
    font-weight: 400;
}